.image-container {
  position: relative;
  width: 99%;
  padding-top: 80%;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.game-title {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.3vw;
  width: 80%;
  margin: 0 auto;
}

.small-title {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.04vw;
  width: 80%;
  margin: 0 auto;
}

.mid-title {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1.2vw;
  width: 80%;
  margin: 0 auto;
}

.image-container:hover .game-info {
  opacity: 1;
}

.playlist-icon {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  display: none;
}

.playlist-icon:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

@media (min-width: 1200px) {
  .playlist-icon {
    display: inline-block;
  }
}
