<div class="image-container" (click)="navigateToDetails(game.id, $event)">
  <ion-img src="{{game.imageUrl}}" alt="{{game.title}}" class="game-image"></ion-img>
  <div class="game-info">
    <div class="game-title">{{game.title}}</div>
    <div class="small-title" *ngIf="game.title === 'Bleach: Thousand-Year Blood War'">{{game.title}}</div>
    <div class="mid-title" *ngIf="game.title === 'Fullmetal Alchemist: Brotherhood'">{{game.title}}</div>
    <div class="mid-title" *ngIf="game.title === 'Boruto: Naruto Next Generations'">{{game.title}}</div>
    <ion-icon *ngIf="!isInPlaylist" name="add-circle-outline" class="playlist-icon" (click)="openAlert($event)"></ion-icon>
    <ion-icon *ngIf="isInPlaylist" name="remove-circle-outline" class="playlist-icon" (click)="openAlert($event)"></ion-icon>
  </div>
</div>
