<ion-content [fullscreen]="true">
  <div class="profile-title">
    <h1>Profile</h1>
  </div>

  <div class="profile-details-subtitle">
    <h4>Profile Details</h4>
  </div>

  <ion-card class="profile-card">
    <ion-row>
      <ion-col size-sm="12" size-md="12" size-lg="12" sizeXl="12">
        <ion-list>
          <ion-item class="custom-item">
            <ion-label position="floating" color="secondary">Name & Surname</ion-label>
            <ion-input [value]="fullName" class="profile-input" readonly></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="floating" color="secondary">Username</ion-label>
            <ion-input [value]="username" class="profile-input" readonly></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="floating" color="secondary">Email</ion-label>
            <ion-input [value]="email" class="profile-input" readonly></ion-input>
          </ion-item>
          <ion-item class="custom-item">
            <ion-label position="floating" color="secondary">Password</ion-label>
            <ion-input type="password" [value]="password" class="profile-input" readonly></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-grid>
    <div class="ion-text-center">
      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    </div>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="9" size-md="5" size-lg="5" size-xl="3">
        <ion-button expand="block" color="primary" (click)="onLogOut()" *ngIf="!isLoading">Log Out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
