/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-app {
  --ion-background-color: #2d2d2f;
}

.custom-item {
  --border-color: var(--ion-color-secondary);
}

.custom-item.ion-invalid {
  --border-color: var(--ion-color-danger);
}

.custom-item.ion-valid {
  --border-color: var(--ion-color-success);
}

.custom-input {
  color: var(--ion-color-primary);
  margin-top: 5px;
}

.custom-label {
  color: var(--ion-color-secondary);
}
.custom-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

@media (max-width: 767px) {
  .custom-modal {
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 600px;

  }
}

.h2-heading {
  color: var(--ion-color-secondary);
}

.custom-alert .alert-title {
  color: var(--ion-color-primary);
}

.custom-alert .alert-message {
  color: var(--ion-color-secondary);
}













