<ion-content [fullscreen]="true">
  <div class="searchbar-container">
    <ion-searchbar
      class="custom-searchbar"
      animated="true"
      placeholder="Search animes"
      color="secondary"
      show-cancel-button="focus"
      [(ngModel)]="searchTerm"
      (ionInput)="filterAnimes()">
    </ion-searchbar>
  </div>

  <div class="list-container">
    <div class="list-wrapper">
      <ion-list class="custom-list">
        <ion-item *ngFor="let game of filteredGames" (click)="navigateToDetails(game.id, $event)" class="custom-search-item">
          <ion-thumbnail slot="start">
            <img [src]="game.imageUrl" alt="{{game.title}}">
          </ion-thumbnail>
          <ion-label>
            <h2 class="anime-search-title">{{ game.title }}</h2>
            <p class="anime-search-year">{{ game.year }}</p>
            <div class="rating-container">
              <ion-icon name="star"></ion-icon>
              <p class="anime-search-rating" *ngIf="game.rating > 0">{{ game.rating | number: '1.1-1' }}</p>
              <p class="anime-search-rating" *ngIf="game.rating === 0">N/A</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
